configuration {
    modi:                   "drun,filebrowser,keys";
    show-icons:             true;
    icon-theme:             "Papirus-Dark";
    display-drun:           " Apps";
    display-filebrowser:    " Files";
    display-keys:           " Keys";
    drun-display-format:    "{name}";
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";
}

@theme "~/.config/hypr/rofi/theme.rasi"